.update-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: 85%;
    background-color: white;
    box-shadow: 4px 4px 4px 8px rgba(0,0,0,0.5);
    overflow: scroll;
    box-sizing: border-box;

    button {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        background-color: yellowgreen;
        font-weight: bold;
        letter-spacing: 10px;
        cursor: pointer;

        &:hover {
            background-color: green;
            color: white;
        }
    }

    .multiple-select {
        height: 100px;
    }

    .close-btn {
        display: flex;
        align-self: flex-end;
        background-color: orange;

        &:hover {
            background-color: orangered;
            color: white;
        }
    }

    .margin-top {
        margin-top: 1rem;
    }

    .subtasks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: fit-content;
    gap: 0.5rem;
}

input {
    padding: 0.5rem;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 2px solid cornflowerblue;
    background-color: #ccc;
    height: 2rem;

    &:focus {
        outline: none;
        border-bottom: 2px solid yellowgreen;
        font-size: 1.2rem;
        background-color: whitesmoke;
    }
}

select {
    padding: 0.5rem;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 2px solid cornflowerblue;
    background-color: #ccc;
    height: 50px;

    &:focus {
        outline: none;
        border-bottom: 2px solid yellowgreen;
        font-size: 1.2rem;
        background-color: whitesmoke;
    }
}

.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;

    &:hover {
        background-color: #ccc;
        color: #666;
    }
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 1rem;

    .close-btn {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-weight: bold;
        text-align: center;
        background-color: orange;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
            background-color: orangered;
            color: white;
        }
    }
}

.dude {
    border-radius: 10px;
    width: fit-content;
    padding: 0.5rem;
    background-color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid black;
    margin-top: 1rem;
}

.margin {
    margin-top: 1rem;
}