<section>
    <h1>Welcome Backstage</h1>

    <h2>My Todos</h2>
    <button (click)="openForm()">ADD</button>

    <div *ngFor="let todo of todos" class="todo" (click)="viewTodo(todo)">
        <p>{{ todo.category }}</p>
        <p>
            Title: <b>{{ todo.title }}</b>
        </p>
        <p>
            Description: <b>{{ todo.description }}</b>
        </p>
        <p *ngIf="todo.completed">Status: <b>done</b></p>
        <p *ngIf="!todo.completed">Status: <b>todo</b></p>
        <p>Priority: {{ todo.priority }}</p>
        <button (click)="delete(todo.id, $event)" class="delete-btn">DELETE</button>
    </div>

    
    <app-add-todo></app-add-todo>

    <app-todo-details></app-todo-details>

    <button (click)="logout()" class="logout-btn">LOGOUT</button>
</section>