section {
    max-width: 500px;
    margin: 2rem auto;
}

button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    cursor: pointer;

    &:hover {
        transition: all 0.125s ease-in-out;
        background-color: #ccc;
        color: black;
    }
}

.delete-btn {
    background-color: orange;
    color: black;

    &:hover {
        background-color: orange;
        border: 1px solid black;
    }
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #eee;
    color: black;
    cursor: pointer;

    &:hover {
        transition: all 0.125s ease-in-out;
        background-color: #ccc;
        color: black;
    }
}

.logout-btn {
    background-color: blueviolet;
}

.category {
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.loading-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: black;
    animation: loading 1s ease-in-out infinite;
    cursor: pointer;
}

.visible {
    display: flex;
}

@keyframes loading {
    0% {
        background: linear-gradient(to right, #96c93d 0%, #ccc 10%);
    }
    10% {
        background: linear-gradient(to right, #96c93d 10%, #ccc 20%);
    }
    20% {
        background: linear-gradient(to right, #96c93d 20%, #ccc 30%);
    }
    30% {
        background: linear-gradient(to right, #96c93d 30%, #ccc 40%);
    }
    40% {
        background: linear-gradient(to right, #96c93d 40%, #ccc 50%);
    }
    50% {
        background: linear-gradient(to right, #96c93d 50%, #ccc 60%);
    }
    60% {
        background: linear-gradient(to right, #96c93d 60%, #ccc 70%);
    }
    70% {
        background: linear-gradient(to right, #96c93d 70%, #ccc 80%);
    }
    80% {
        background: linear-gradient(to right, #96c93d 80%, #ccc 90%);
    }
    90% {
        background: linear-gradient(to right, #96c93d 90%, #ccc 100%);
    }
    100% {
        background: linear-gradient(to right, #96c93d 100%, #ccc 100%);
    }
}