<section>
    <div class="row"><h1>Welcome Backstage</h1> <button (click)="logout()" class="logout-btn">LOGOUT</button></div>

    <h2>My Todos</h2>
    <button (click)="openForm()">ADD</button>

    <div class="loading-box" [class.visible]="this.dataService.loading">
        <p *ngIf="this.dataService.loading">Loading...</p>
    </div>

    <div *ngFor="let todo of this.dataService.todos$ | async" class="todo" (click)="viewTodo(todo)">
        <div *ngFor="let cat of this.dataService.categories$ | async">
            <p *ngIf="cat.id === todo.category" class="category" [style.background]="cat.color"><b>{{ cat.name }}</b></p>
        </div>
        
        <p>
            Title: <b>{{ todo.title }}</b>
        </p>
        <p>
            Description: <b>{{ todo.description }}</b>
        </p>

        <div class="row">
            <p>Status: <b *ngIf="todo.completed">Done ✅</b>
                <b *ngIf="!todo.completed">Todo 📋</b>
            </p>

            <p>Priority:
                <b *ngIf="todo.priority === 3">High 🔴</b>
                <b *ngIf="todo.priority === 2">Medium 🟠</b>
                <b *ngIf="todo.priority === 1">Low 🟡</b>
            </p>
        </div>

        <button (click)="delete(todo.id, $event)" class="delete-btn">DELETE</button>
    </div>

</section>

<router-outlet></router-outlet>