<div class="detail-overlay" [class.visible]="this.oS.detailOverlayVisible" (click)="close()">

    <section (click)="noBubble($event)" *ngIf="oS.currentTodo != null">
        <button class="close-btn" (click)="close()">CLOSE</button>

        <div class="container">
            <div *ngFor="let cat of this.dataService.categories$ |async">
                <p *ngIf="cat.id === oS.currentTodo.category" class="category" [style.background]="cat.color">
                    <b>{{ cat.name }}</b>
                </p>
            </div>


            <p>Title: <b>{{ oS.currentTodo.title }}</b></p>

            <p>Description: <b>{{ oS.currentTodo.description }}</b></p>

            <div class="row">
                <p>Status: <b *ngIf="oS.currentTodo.completed">Done ✅</b>
                    <b *ngIf="!oS.currentTodo.completed">Todo 📋</b>
                </p>

                <p>Priority:
                    <b *ngIf="oS.currentTodo.priority.name === 'High'">High 🔴</b>
                    <b *ngIf="oS.currentTodo.priority.name === 'Medium'">Medium 🟠</b>
                    <b *ngIf="oS.currentTodo.priority.name === 'Low'">Low 🟡</b>
                </p>
            </div>

            <p>Due date: <b>{{ oS.currentTodo.due_date | date }}</b></p>

            <div class="margin">
                <span>Assigned to:
                    <div class="flex-row">
                        <div class="dude" *ngFor="let dude of oS.currentTodo.assigned_to">
                            <span *ngFor="let contact of this.dataService.contacts$ | async">
                                <b *ngIf="contact.id === dude">{{ contact.name }}</b>
                            </span>
                        </div>
                    </div>
                </span>
            </div>

            <div>
                <p>Subtasks: </p>
                <span class="flex-row" *ngFor="let sub of oS.currentTodo.subtask"><b>{{ sub.title }} </b>
                    <div *ngIf="sub.completed">Done ✅</div>
                    <div *ngIf="!sub.completed">Todo 📋</div>
                </span>
            </div>

        </div>

        <button (click)="openEditor()">EDIT 🖊️</button>


    </section>

</div>