.detail-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.visible {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: fit-content;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 500px;
    height: fit-content;
    background-color: white;
    box-shadow: 4px 4px 4px 8px rgba(0,0,0,0.5);

    button {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        background-color: yellowgreen;
        font-weight: bold;
        letter-spacing: 10px;
        cursor: pointer;

        &:hover {
            background-color: green;
            color: white;
        }
    }

    .close-btn {
        display: flex;
        align-self: flex-end;
        background-color: orange;

        &:hover {
            background-color: orangered;
            color: white;
        }
    }

    .margin-top {
        margin-top: 1rem;
    }

    .subtasks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.category {
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    width: fit-content;
}

.row {
    display: flex;
    gap: 2rem;
}

.dude {
    border-radius: 10px;
    width: fit-content;
    padding: 0.5rem;
    background-color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid black;
    margin-top: 1rem;
}

.margin {
    margin-top: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}