form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 300px;
    height: 300px;
    margin: 200px auto;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;

    &:focus {
        outline-style: solid;
        outline-width: 2px;
        outline-color: lightgreen;
        border: green 1px solid;
    }
}

button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    cursor: pointer;

    &:hover {
        transition: all 0.125s ease-in-out;
        background-color: #ccc;
        color: black;
    }
}

.error {
    opacity: 0;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
}

.opacity {
    opacity: 1 !important;
}

.guest-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
        transition: all 0.125s ease-in-out;
        background-color: #ccc;
        color: black;
    }
}

.login {
    opacity: 0;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        background: linear-gradient(to right, #96c93d 0%, #ccc 10%);
    }
    10% {
        background: linear-gradient(to right, #96c93d 10%, #ccc 20%);
    }
    20% {
        background: linear-gradient(to right, #96c93d 20%, #ccc 30%);
    }
    30% {
        background: linear-gradient(to right, #96c93d 30%, #ccc 40%);
    }
    40% {
        background: linear-gradient(to right, #96c93d 40%, #ccc 50%);
    }
    50% {
        background: linear-gradient(to right, #96c93d 50%, #ccc 60%);
    }
    60% {
        background: linear-gradient(to right, #96c93d 60%, #ccc 70%);
    }
    70% {
        background: linear-gradient(to right, #96c93d 70%, #ccc 80%);
    }
    80% {
        background: linear-gradient(to right, #96c93d 80%, #ccc 90%);
    }
    90% {
        background: linear-gradient(to right, #96c93d 90%, #ccc 100%);
    }
    100% {
        background: linear-gradient(to right, #96c93d 100%, #ccc 100%);
    }
}