<form (ngSubmit)="login()">

    <input type="username" name="text" [(ngModel)]="username" required placeholder="Us3rn@m3">
    <input type="password" name="password" [(ngModel)]="password" required placeholder="P@ss_w0rd">
    <button>LOGIN</button>

    <div class="guest-btn" (click)="guestLogin()">GUEST LOGIN</div>

    <div class="login" [class.opacity]="loading">
        <p>Checking your credentials...</p>
    </div>

    <div class="error" [class.opacity]="visible" #errormessage>
        <p>{{ error }}</p>
    </div>

</form>



